<!-- <fieldset>
  <legend>JWT API</legend>

  <div>
    <button type="button" (click)="checkJwtToken()">Get token or login</button>
    <button type="button" (click)="callJwtProtectedApi()">Call API</button>
  </div>
  <div *ngIf="jwtToken">
    You are authenticated and your API token is<br />
    <span style="color: blue; white-space: pre-wrap">{{ jwtToken }}</span>
  </div>
  <div *ngIf="jwtApiResult">
    We just made a call to the backend api with the above token and the result is
    <div style="color: blue; white-space: pre-wrap; text-align: left">{{ jwtApiResult | json }}</div>
  </div>
</fieldset> -->

<fieldset>
  <legend>SAML API</legend>

  <div>
    <button type="button" (click)="callSamlProtectedApi('GET')">Call API (GET)</button>
    <button type="button" (click)="callSamlProtectedApi('POST')">Call API (POST)</button>
    <button type="button" (click)="callOther()">Call other</button>
  </div>
  <div *ngIf="samlApiResult">
    We just made a call to the backend api with the above token and the result is
    <div style="color: blue; white-space: pre-wrap; text-align: left">{{ samlApiResult | json }}</div>
  </div>
</fieldset>

<fieldset>
  <legend>logout</legend>
  <button (click)=localLogout()>locally</button>
  <button (click)=globalLogout()>globally</button>
</fieldset>

<div *ngIf="logoutType">
  Logging out {{ logoutType === 'local' ? 'locally' : 'globally'}}.
</div>